<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | ItemMatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gradient-to-b from-blue-500 via-purple-500 to-white min-h-screen flex flex-col items-center">
    <%= render "layouts/header" %>
    <%= render "shared/flash" %>
    <main class="flex-1 w-full pt-20">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
